.panel.panel-warning
  .panel-heading 
    .panel-title
      %h4 Today
  .panel-body
    %h4
      %span#tasksTime
      of scheduled tasks left
    %br
    %h4
      Free Time Left:
      %span#freeTimeClock
    %br
    %h4
      Time for bed in
      %span#timeLeftToday
