.panel.panel-warning
  .panel-heading 
    .panel-title
      %h4 
        Tasks
        .span.pull-right
          = link_to '', new_task_path, class: "glyphicon glyphicon-plus", remote: true, "data-toggle" => "modal", "data-target" => "newtask"
  .panel-body
    - @tasks.sort_by{|k| k["deadline"]}.first(3).each do |task|
      -@task = task
      =render 'routines/task'
:javascript
  $(function () {
    $('[data-toggle="popover"]').popover(
      {
        trigger: 'hover',
        html: true
      });
  });
