.panel-body{:style => "height: 400px"}
  .row
    %h4 Now
    %p Work on RoutineBuilder
    %h4 Left For Today
    %p Bedtime Routine
    %h4 FreeTime 
    %p 1 hour
    %h4 Tomorrow
    %p Research
    %p Work on RoutineBuilder
    %p Gym 
    %p Freetime
