<div class="modal fade" id="new_time_log">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">TimeTracker: What have you done the last hour?</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', task: @time_log %>
      </div>
    </div>
  </div>
</div>
