= button_to new_task_path, class: "btn btn-lg btn-primary pull-right", remote: true, "data-toggle" => "modal", "data-target" => "newtask", method: "get" do
  %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
  Task
.row
  %h1 Open Tasks

  -# @open_tasks.sort_by{ |k| k["created_on"]}.each do |task|
  - @open_tasks.sort_by{ |k| k["deadline"]}.each do |task|
    -@task = task
    .col-md-4
      =render 'routines/task'
.row
  %h1 Closed Tasks

  - @closed_tasks.sort_by{ |k| k["completed_time"]}.each do |task|
    -@task = task
    .col-md-4
      =render 'routines/task'
.row
  %h1 logs

  - @time_logs.each do |log|
    -@log = log
    %p
      =log.log 
      =log.datetime
      =log.duration

:javascript
  $(function () {
    $('[data-toggle="popover"]').popover(
      {
        trigger: 'hover',
        html: true
      });
  });
