// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-danger > .panel-heading a {
  color: #a94442;
}
.panel-danger > .panel-heading a:hover {
  color: red;
}
.panel-primary > .panel-heading a {
  color: #fff;
}
.panel-primary > .panel-heading a:hover {
  color: cyan;
}
