// Place all the styles related to the time_trials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variabes */
$orange: #ffa600;
$white: #fff;
$base-color: black ;


/* Mixin's */
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius;
-khtml-border-radius: $radius;
}

h1, h2 {
  color: $white;
  font-family: 'Druk-Wide-Bold';
  font-size: 2.6em;
  text-transform: uppercase;
}
 h3 {
  color: $white;
  font-family: 'Druk-Wide-Bold';
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}
#leaderboard{
  color: $white;
}
.table > tbody > tr > td {
  border-top: 0px; 
}
h3.clock > span{
  font-family: Druk-Wide-Bold
}
#contest {
  cursor: asset_url('Converse_cursor.png') 20 20, auto;
}
